.boggle-board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
  max-width : 400px;
}
.boggle-board > div {
  background-color: #f7f7f8;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid #423E37;
  border-radius: 2px;
}

