@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display:grid;
}
.red-box {
    width:200px;
    height:200px;
    border-radius: 4px;
    border: 2px solid red;
}

.blue-box {
    width:200px;
    height:200px;
    border-radius: 4px;
    border: 2px solid blue;
}